extends layouts/main-layout.pug

block content    
    .chatPageContainer
        .chatTitleBar
            label(for="userSearchTextbox") To: 
            #selectedUsers
                input#userSearchTextbox(type="text", placeholder="Type the name of the person")
        .resultsContainer   
        button#createChatButton(disabled) Create Chat

block scripts
    script(src="/js/utils/createUserHtml.js")
    script(src="/js/utils/searchUsers.js")
    script(src="/js/inboxPage.js")