extends layouts/main-layout.pug

block content    
    script.
        var postId = '!{postId}'
        
    .postsContainer

    +createPostModals(userLoggedIn)

block scripts
    script(src="/js/utils/fetch.js")
    script(src="/js/utils/outputPosts.js")
    script(src="/js/utils/modalEvent.js")
    script(src="/js/utils/createPost.js")
    script(src="/js/utils/getPostId.js")
    script(src="/js/postPage.js")
    //- script(src="/js/common.js")
    
