:root {
  --blue: #1fa2f1;
  --green: rgb(23, 191, 99);
  --red: rgb(224, 36, 94);
  --blueLight: #9bd1f9;
  --buttonHoverBg: #d4edff;
  --lightGrey: rgb(230, 236, 240);
  --spacing: 15px;
  --greyText: rgb(101, 119, 134);
  --greyButtonText: rgba(0, 0, 0, 0.34);
}

* {
  outline: none !important;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 19px;
  font-weight: 800;
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
  color: var(--greyButtonText);
}

button i,
button span {
  pointer-events: none;
}

@media screen and (max-width: 1300px) {
  .textIcon {
    display: none;
  }

  .hoverBlue {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
  }

  nav a {
    padding: 10px;
    font-size: 30px;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #212529;
  }

  nav a.blue {
    color: var(--blue);
  }

  nav a:hover {
    background-color: var(--buttonHoverBg);
    color: var(--blue);
    border-radius: 50%;
  }
}
@media screen and (min-width: 1300px) {
  .hoverBlue {
    color: var(--blue);
    margin-left: 10%;
    padding-right: 25px;
    display: flex;
    width: 100%;
  }

  .logo {
    margin-left: 17%;
    /* padding-right: 25px; */
    display: flex;
    width: 100%;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
  }

  nav a {
    padding: 10px;
    font-size: 25px;
    width: 55px;
    height: 55px;
    display: flex;
    color: #212529;
  }

  nav a.blue {
    color: var(--blue);
  }

  .wrapper > .row {
    margin: 0;
  }

  .hoverBlue a {
    margin-left: 15px;
  }

  .textIcon {
    margin-left: 15px;
    font-weight: 600;
    font-size: 20px;
  }

  .hoverBlue:hover {
    background-color: var(--buttonHoverBg);
    color: var(--blue);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
}

.mainSectionContainer {
  padding: 0;
  margin-left: 10px;
  border-left: 1px solid var(--lightGrey);
  border-right: 1px solid var(--lightGrey);
  display: flex;
  flex-direction: column;
}

.titleContainer {
  height: 53px;
  padding: 0 var(--spacing);
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--lightGrey);
  flex-shrink: 0;
}

.titleContainer h1 {
  flex: 1;
}

.postFormContainer {
  display: flex;
  padding: var(--spacing);
  border-bottom: 10px solid rgb(230, 236, 240);
  flex-shrink: 0;
}

.userImageContainer {
  width: 50px;
  height: 50px;
}

.userImageContainer img {
  width: 100%;
  border-radius: 50%;
  background-color: white;
}

.textareaContainer {
  display: flex;
  flex: 1;
  padding-left: var(--spacing);
}

.textareaContainer textarea {
  width: 100%;
  border: none;
  resize: none;
  font-size: 19px;
}

#submitPostButton {
  background-color: var(--blue);
  color: white;
  border: none;
  border-radius: 40px;
  padding: 7px 15px;
  align-items: flex-end;
  margin-top: 75%;
}

#submitPostButton:disabled {
  background-color: var(--blueLight);
}

.post {
  display: flex;
  flex-direction: column;
  padding: var(--spacing);
  cursor: pointer;
  border-bottom: 1px solid var(--lightGrey);
  flex-shrink: 0;
}

.mainContentContainer {
  flex: 1;
  display: flex;
}

.postContentContainer {
  padding-left: var(--spacing);
  display: flex;
  flex-direction: column;
  flex: 1;
}

.username,
.date {
  color: var(--greyText);
}

.displayName {
  font-weight: bold;
}

.postFooter {
  display: flex;
  align-items: center;
}

.postFooter .postButtonContainer {
  flex: 1;
  display: flex;
}

.postFooter .postButtonContainer button {
  padding: 2px 5px;
}

.header a:hover {
  text-decoration: underline;
}

.header a,
.header span {
  padding-right: 5px;
}

.postButtonContainer:first-child button:hover {
  background-color: #d4edff;
  color: var(--blue);
  border-radius: 50%;
}

.postButtonContainer:nth-child(2) button:hover {
  background-color: #ddffd4;
  color: var(--green);
  border-radius: 50%;
}

.postButtonContainer:last-child button:hover {
  background-color: #ffd4d4;
  color: var(--red);
  border-radius: 50%;
}

.likes {
  color: rgb(148, 148, 148);
  padding-top: 2px;
  font-size: 13px;
}

/* .postButtonContainer.red button.active {
  color: var(--red);
} */

.postButtonContainer.red button.active,
.postButtonContainer.red span.active {
  color: var(--red);
}

.postButtonContainer.green button.active,
.postButtonContainer.green span.active {
  color: var(--green);
}

.postActionContainer {
  padding-left: 35px;
  font-size: 13px;
  color: var(--greyText);
}

.modal .postFormContainer {
  border: none;
  padding: 0;
  padding-top: var(--spacing);
}

.modal .post {
  padding: 0;
  padding-bottom: var(--spacing);
}

.replyFlag {
  margin-bottom: 5px;
}

.replyFlag a {
  color: var(--blue);
}

.noResults {
  top: 25px;
  position: relative;
  left: 33%;
}

.largeFont .postBody,
.largeFont .postFooter {
  font-size: 23px;
}

.postContentContainer .header {
  display: flex;
}

.postContentContainer .header .date {
  flex: 1;
}

.errorMessage {
  padding: var(--spacing);
}

.coverPhotoContainer {
  height: 180px;
  background-color: var(--blue);
  position: relative;
}

.profileHeaderContainer .userImageContainer {
  width: 132px;
  height: 132px;
  margin-left: var(--spacing);
  position: absolute;
  bottom: -66px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileHeaderContainer .userImageContainer img {
  border: 4px solid #fff;
}

.profileHeaderContainer .profileButtonsContainer {
  text-align: right;
  padding: var(--spacing);
  min-height: 66px;
}

.profileButton,
.followButton {
  border: 1px solid var(--blue);
  color: var(--blue);
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 60px;
  display: inline-block;
  margin-left: var(--spacing);
}

.profileButton:hover,
.followButton:hover {
  background-color: var(--blueBackground);
}

.followButton.following {
  background-color: var(--blue);
  color: #fff;
}

.profileHeaderContainer .userDetailsContainer {
  display: flex;
  flex-direction: column;
  padding: 0 var(--spacing);
}

.followersContainer .value {
  font-weight: bold;
  margin-right: 5px;
}

.followersContainer span:not(.value) {
  color: var(--greyText);
}

.followersContainer a {
  margin-right: 15px;
}

.followersContainer a:hover {
  border-bottom: 1px solid #000;
}

.tabsContainer {
  display: flex;
  border-bottom: 1px solid var(--lightGrey);
  flex-shrink: 0;
}

.tab {
  flex: 1;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--greyText);
  font-weight: bold;
}

.tab.active {
  color: var(--blue);
  border-bottom: 2px solid var(--blue);
}

.tab:hover {
  color: var(--blue);
  background-color: var(--blueBackground);
}

.noResults {
  padding: var(--spacing);
}

.resultsContainer {
  display: flex;
  flex-direction: column;
}

.resultsContainer .user {
  padding: var(--spacing);
  display: flex;
  border-bottom: 1px solid var(--lightGrey);
}

.user .userDetailsContainer {
  flex: 1;
  padding: 0 var(--spacing);
}

.profilePictureButton,
.coverPhotoButton {
  position: absolute;
  font-size: 50px;
  color: rgba(255, 255, 255, 0.6);
  display: none;
}

.coverPhotoSection {
  height: 180px;
  background-color: var(--blue);
  position: relative;
}

.userImageContainer:hover .profilePictureButton,
.coverPhotoContainer:hover .coverPhotoButton {
  display: block;
}

.coverPhotoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.coverPhotoContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#imagePreview,
#coverPreview {
  width: 100%;
  display: block;
  /* This rule is very important, please don't ignore this */
  max-width: 100%;
}

.pinnedPostText {
  font-size: 12px;
  color: var(--greyText);
}

.searchBarContainer {
  position: relative;
  color: var(--greyText);
  padding: 10px var(--spacing);
}

.searchBarContainer i {
  position: absolute;
  top: 20px;
  left: 28px;
}

.searchBarContainer #searchBox {
  height: 36px;
  width: 100%;
  padding: 5px 15px 5px 40px;
  border-radius: 50px;
  background-color: var(--lightGrey);
  border: none;
  color: var(--greyText);
}

.chatPageContainer {
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.chatTitleBar {
  border-bottom: 1px solid var(--lightGrey);
  display: flex;
  align-items: center;
  min-height: 60px;
  padding: 10px;
}

.chatTitleBar label {
  margin-right: 10px;
  margin: 0 10px 0 0;
}

#userSearchTextbox {
  border: none;
  flex: 1;
  font-weight: 200;
  min-width: 350px;
}

#createChatButton {
  border: none;
  background-color: var(--blue);
  color: #fff;
  padding: 7px 20px;
  margin: 10px auto;
  border-radius: 40px;
}

#createChatButton:disabled {
  background-color: var(--lightGrey);
  color: var(--greyText);
}

.selectedUser {
  font-weight: 300;
  background-color: #cbe5fe;
  color: #0084ff;
  padding: 5px;
  border-radius: 3px;
  margin: 5px 5px 0 0;
  display: inline-block;
}

.resultListItem {
  padding: 7px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-bottom: 1px solid var(--lightGrey);
}

.resultListItem:hover {
  background-color: #f2f2f2;
}

.resultsDetailsContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.resultsDetailsContainer .heading {
  font-weight: 500;
}

.resultsDetailsContainer .subText {
  color: var(--greyText);
  font-size: 14px;
}
