mixin createPostForm(userLoggedIn)
    .postFormContainer
        .userImageContainer
            img(src=userLoggedIn.profilePic, alt="Profile Pic")
        .textareaContainer
            textarea#postTextarea(placeholder="Whats's happening?")
            .buttonsContainer
                button#submitPostButton(disabled="") Post